*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Lexend Deca', sans-serif;
} /* reset da página */

.eczokvf1{ /* main */
       display: flex;
       align-items: center;
       background-color: rgba(247, 237, 226, 1);
}

.egzxvld2{ /* o container principal */
       display: flex;
       align-items: center;
       justify-content: space-between;
       background-color: rgba(18, 41, 50, 1);
       padding: 50px;
}

.e1tzin5v4{ /* row dos botões */
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       max-width: 500px;
       padding: 10px;
       /* background-color: blanchedalmond; */
       
}

.edgvbvh9{ /* aparentemente esse é o botão */
       display: flex;
       align-items: center;
       background-color: rgba(44, 81, 76, 1);
       border: none;
       width: 100%;

}

.stButton{
       background-color: brown;
       width: 100%;
}