*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Lexend Deca', sans-serif;
} /* reset da página */

.eczokvf1{ /* main */
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       background-color: rgba(247, 237, 226, 1);
}

.egzxvld2{ /* o container principal */
       display: flex;
       align-items: center;
       justify-content: space-between;
       background-color: rgba(18, 41, 50, 1);
       padding: 50px;
}

.edgvbvh9{ /* aparentemente esse é o botão */
       display: flex;
       align-items: center;
       background-color: rgba(44, 81, 76, 1);
       border: none;
       width: 100%;
       height: 40px;
}

.stButton{
       /* background-color: brown; */
       width: 100%;
       padding: 10px 0;
}

.e1tzin5v0{
       width: 100%;
}

.etr89bj2{
       background-color: bisque;
       display: flex;
       align-items: center;
}